{# templates/article/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    
        <div class="article-list">
            {% for article in articles %}
                <div class="article-item">
                    <h2>
                        <a href="{{ path('article_show', {'id': article.id}) }}">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p>{{ article.body|slice(0, 150) ~ '...' }}</p>
                    <div class="article-metadata">
                        <span>Published: {{ article.publicationDate|date('Y-m-d') }}</span>
                        {% if article.author %}
                            <span>By: {{ article.author.firstName }} {{ article.author.lastName }} </span>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p>No articles found.</p>
            {% endfor %}
        </div>
   
{% endblock %}
